#wrapper {
	width: 1010px;
	background-color: #000000;
	height: 900px;
	margin: 0 auto;
}
header {
	height: 125px;
	background-color: #47DEF0;
	width: 990px;
	font-family: American Typewriter;
	font-size: 26px;
	text-align: right;
	padding: 10px;
	background-image: url("../images/logo.png");
	background-repeat: no-repeat;
	background-size: 120px;
}


ul {
	list-style-type: none;
	margin: o;
	padding: o;
	overflow: hidden;
	
	
}
li {
	display: inline;
	
	
	
}
#Nav {
	width: 350px;
	height: 50px;
	font-size: 15px;
	margin: auto;
	
}
a{color: greenyellow;}

body{
	background-color: #000000;
}
#maincenter{
	width:990px;
	background-color: #ffffff;
	height:900px;
	padding: 10px;
}
h1{margin: auto;}

h2{
text-align: center;
		
}
h3{
	text-align: center;
	
}
p{
	text-align: center;
}

iframe{
display: block;
margin-left: auto;
margin-right: auto;
}
footer{
	height:50px;
	background-color: #3EE575;
	width: 990px;
}
* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    margin: 0 auto; /* Center website */
    max-width: 800px; /* Max width */
    padding: 20px;
}

.heading {
    font-size: 25px;
    margin-right: 25px;
}

.fa {
    font-size: 25px;
}

.checked {
    color: orange;
}

/* Three column layout */
.side {
    float: left;
    width: 15%;
    margin-top: 10px;
}

.middle {
    float: left;
    width: 70%;
    margin-top: 10px;
}

/* Place text to the right */
.right {
    text-align: right;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* The bar container */
.bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
}

/* Individual bars */
.bar-5 {width: 60%; height: 18px; background-color: #4CAF50;}
.bar-4 {width: 30%; height: 18px; background-color: #2196F3;}
.bar-3 {width: 10%; height: 18px; background-color: #00bcd4;}
.bar-2 {width: 4%; height: 18px; background-color: #ff9800;}
.bar-1 {width: 15%; height: 18px; background-color: #f44336;}

/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 400px) {
    .side, .middle {
        width: 100%;
    }
    /* Hide the right column on small screens */
    .right {
        display: none;
    }
}


 /* Bordered form */
form {
    border: 3px solid #f1f1f1;
	width: 50%;
	margin: auto;
}


/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}


/* Add padding to containers */
.container {
    padding: 3px;
	width: 50%;
	margin: auto;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}




 /* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
.contact {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
	margin: 0 auto;
	width: 50%;
	

}

 /* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 25%;
  padding: 10px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
} 


/* Phones Only*/

@media screen and (max-width: 800px) {
	
    header{display: none;}
	nav{float: left;
		width: auto;
	}
	ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 150px;
    background-color: #f1f1f1;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: white;
}
	#maincenter{width:auto;	
	}
	footer{display: none;}
	body{background-color: white; }
		
	
#wrapper{background-color: white;
	width: auto;}
	
	#Nav{float: left;
		
	}
	iframe{width: auto;}
	h2{width: auto;}
	h3{width: auto;}
	}
/* Tablets and high rez phones */
@media screen and (min-width: 801px) and (max-width: 991px){
		
	
}
/* Tablets and high rez phones, landscape */
@media screen and (min-device-width : 801px) and (max-device-width : 1024px) and (orientation : landscape){
	

}
/* Monitors */
@media screen and (min-width: 992px) { 
}
