#wrapper {
	width: 1000px;
	background-color: #000000;
	height: 900px;
	margin: 0 auto;
}
header {
	height: 175px;
	background-color: #47DEF0;
	width: 990px;
	font-family: American Typewriter;
	font-size: 26px;
	text-align: center;
	padding: 10px;
}
ul {
	list-style-type: none;
	margin: o;
	padding: o;
	overflow: hidden;
}
li {
	display: inline;
}
nav {
	width: 400px;
	height: 50px;
	font-size: 15px;
	float: right;
}
body{
	background-color: #000000;
}
#maincenter{
	width:990px;
	background-color: #ffffff;
	height:900px;
	padding: 10px;
}
h2{
	text-align: center;
}
h3{
	text-align: center;
}
p{
	text-align: center;
}
img{
	margin: 0 auto;
}
iframe{
display: block;
margin-left: auto;
margin-right: auto;
}
footer{
	height:50px;
	background-color: #3EE575;
	width: 1010px;
}